* {
  margin: 0;
  padding: 0; }

.container {
  display: flex;
  align-items: center;
  justify-content: center; }

body {
  margin: 40px 40px;
  font-family: "Comfortaa", cursive;
  background-color: #bc8d3f;
  color: #f6b100;
  overflow: hidden; }

.frame {
  border: 5px solid #0d0d0b;
  height: 550px;
  width: 950px;
  border-radius: 15px;
  position: relative;
  background-image: radial-gradient(#423013, #111);
  box-shadow: 0 0 5vmin 1vmin #000 inset;
  overflow: hidden; }

.frame:before {
  animation: wave 10s infinite ease-in-out;
  content: "";
  height: 20vh;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  z-index: 1; }

.frame:after {
  background-image: linear-gradient(transparent, transparent 3px, #222);
  background-size: 4px 4px;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2; }

@keyframes wave {
  0% {
    box-shadow: 0 -10vh 20vh #f6b100;
    top: -100vh; }
  48%,
  52% {
    box-shadow: 0 -10vh 20vh #aa7a00; }
  50% {
    box-shadow: 0 -10vh 20vh #5d4300; }
  100% {
    box-shadow: 0 -10vh 20vh #f6b100;
    top: 200vh; } }

.grid {
  display: grid;
  grid-template-columns: 485px 1fr 1fr;
  grid-template-rows: 120px 1fr 1fr; }

.info-grid {
  grid-column: 1/2;
  grid-row: 1/2; }

.main-info {
  grid-column: 1/2;
  grid-row: 2/4;
  margin-left: 60px; }

.exp-work {
  grid-column: 2/3;
  grid-row: 2/4; }

.photo-section {
  grid-column: 2/4;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  z-index: 10; }

.photo-margin {
  border: 5px solid #f6b100;
  border-radius: 140px; }

.info-under-photo {
  display: flex;
  justify-content: center;
  grid-column: 2/4;
  grid-row: 3/4; }

.line-top {
  height: 4px;
  width: 100px;
  background-color: #f6b100;
  margin-top: 40px;
  margin-left: 40px; }

.line-top-2 {
  position: absolute;
  top: 40px;
  left: 225px;
  height: 4px;
  width: 250px;
  background-color: #f6b100; }

.line-top-2-1 {
  position: absolute;
  top: 40px;
  left: 475px;
  height: 30px;
  width: 4px;
  background-color: #f6b100; }

.line-top-3 {
  position: absolute;
  top: 40px;
  left: 500px;
  height: 4px;
  width: 200px;
  background-color: #f6b100; }

.line-top-3-1 {
  position: absolute;
  top: 40px;
  left: 700px;
  height: 30px;
  width: 4px;
  background-color: #f6b100; }

.line-top-4 {
  position: absolute;
  top: 40px;
  left: 731px;
  height: 4px;
  width: 170px;
  background-color: #f6b100;
  margin-right: 40px; }

.line-top-4-1 {
  position: absolute;
  top: 40px;
  left: 900px;
  height: 30px;
  width: 4px;
  background-color: #f6b100; }

.line-left {
  height: 60px;
  width: 4px;
  background-color: #f6b100;
  margin-left: 40px; }

.info {
  position: absolute;
  top: 25px;
  left: 150px; }

.occupation {
  font-size: 20.5px; }

.about-me {
  margin-top: 20px;
  text-align: justify;
  width: 86%; }

.age {
  position: absolute;
  top: 50px;
  left: 380px; }

.github {
  position: absolute;
  top: 50px;
  left: 610px; }

.github-link {
  text-decoration: none;
  color: #f6b100;
  cursor: pointer; }

.telegram {
  position: absolute;
  top: 50px;
  left: 780px; }

.telegram-link {
  text-decoration: none;
  color: #f6b100;
  cursor: pointer; }

.additional-info {
  margin-bottom: 20px;
  text-align: justify;
  width: 85%; }

.flash {
  font-style: normal;
  animation: colorPulse 5s infinite ease-in-out; }

.flash-color {
  font-style: normal;
  font-weight: 700;
  color: #ffca44; }

@keyframes colorPulse {
  0%,
  100% {
    color: #ffca44; }
  48%,
  52% {
    color: #f6b100; }
  50% {
    color: #aa7a00; } }
