* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

// #528747
// #396f40
// #818089
// #dcc66f
// #f7de7a
// #1f282c
// #20d1d6

// #080404

$background-color: #060502ef;
$main-text-color: #f6b100;

@mixin centeredTxt {
    text-align: center;
}

@mixin line-top($top, $left, $height, $width) {
    position: absolute;
    top: $top;
    left: $left;
    height: $height;
    width: $width;
    background-color: $main-text-color;
}

body {
    margin: 40px 40px;
    font-family: "Comfortaa", cursive;
    background-color: #bc8d3f;
    color: $main-text-color;
    overflow: hidden;

    // font-size: 20px;
}

.frame {
    border: 5px solid #0d0d0b;
    // border-radius: 100px;
    height: 550px;
    width: 950px;
    border-radius: 15px;
    position: relative;

    background-image: radial-gradient(darken(#b88636, 30%), #111);
    box-shadow: 0 0 5vmin 1vmin #000 inset;

    overflow: hidden;
}

.frame:before {
    animation: wave 10s infinite ease-in-out;
    content: "";
    height: 20vh;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    z-index: 1;
}

.frame:after {
    background-image: linear-gradient(transparent, transparent 3px, #222);
    background-size: 4px 4px;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

@keyframes wave {
    0% {
        box-shadow: 0 -10vh 20vh $main-text-color;
        top: -100vh;
    }
    48%,
    52% {
        box-shadow: 0 -10vh 20vh darken($color: $main-text-color, $amount: 15%);
    }
    50% {
        box-shadow: 0 -10vh 20vh darken($color: $main-text-color, $amount: 30%);
    }
    100% {
        box-shadow: 0 -10vh 20vh $main-text-color;
        top: 200vh;
    }
}

.grid {
    display: grid;
    grid-template-columns: 485px 1fr 1fr;
    grid-template-rows: 120px 1fr 1fr;
}

.info-grid {
    grid-column: 1/2;
    grid-row: 1/2;
}

.main-info {
    grid-column: 1/2;
    grid-row: 2/4;
    margin-left: 60px;
}

.exp-work {
    grid-column: 2/3;
    grid-row: 2/4;
}

.photo-section {
    grid-column: 2/4;
    grid-row: 2/3;

    justify-self: center;
    align-self: center;

    z-index: 10;
}

.photo-margin {
    border: 5px solid $main-text-color;
    border-radius: 140px;
}

.info-under-photo {
    display: flex;
    justify-content: center;

    grid-column: 2/4;
    grid-row: 3/4;
}

.line-top {
    height: 4px;
    width: 100px;
    background-color: $main-text-color;
    margin-top: 40px;
    margin-left: 40px;
}

.line-top-2 {
    @include line-top(40px, 225px, 4px, 250px);
}

.line-top-2-1 {
    // $top, $left, $height, $width
    @include line-top(40px, 475px, 30px, 4px);
}

.line-top-3 {
    @include line-top(40px, 500px, 4px, 200px);
}

.line-top-3-1 {
    @include line-top(40px, 700px, 30px, 4px);
}

.line-top-4 {
    @include line-top(40px, 731px, 4px, 170px);
    margin-right: 40px;
}

.line-top-4-1 {
    @include line-top(40px, 900px, 30px, 4px);
}

.line-left {
    margin-left: 40px;
    height: 60px;
    width: 4px;
    background-color: $main-text-color;
}

.info {
    position: absolute;
    top: 25px;
    left: 150px;
}

.occupation {
    font-size: 20.5px;
}

.about-me {
    margin-top: 20px;
    text-align: justify;
    width: 86%;
}

.age {
    position: absolute;
    top: 50px;
    left: 380px;
}

.github {
    position: absolute;
    top: 50px;
    left: 610px;
}

@mixin link {
    text-decoration: none;
    color: $main-text-color;
    cursor: pointer;
}

.github-link {
    @include link();
}

.telegram {
    position: absolute;
    top: 50px;
    left: 780px;
}

.telegram-link {
    @include link();
}

.additional-info {
    margin-bottom: 20px;
    text-align: justify;
    width: 85%;
}

.flash {
    font-style: normal;
    animation: colorPulse 5s infinite ease-in-out;
}

.flash-color {
    font-style: normal;
    font-weight: 700;
    color: lighten($color: $main-text-color, $amount: 15%);
}

@keyframes colorPulse {
    0%,
    100% {
        color: lighten($color: $main-text-color, $amount: 15%);
    }
    48%,
    52% {
        color: $main-text-color;
    }
    50% {
        color: darken($color: $main-text-color, $amount: 15%);
    }
}
